.vs/
.idea/
bin/
obj/
Export/
*.suo
*.user
*.sln.docstates
*.pdb
packages/  
/src/Uni.Portal/log/
/src/Uni.Admin/avatar/
/src/Uni.Admin/log/
/src/Uni.PersonalCenter/log
/*.bak
/src/Services/Admin/Uni.Admin/log/*.txt
/src/Services/AppMarket/Uni.AppMarket/log/*.txt
/src/Services/PersonalCenter/Uni.PersonalCenter/AppVideo/0f2d4121-ad6c-49f5-9d30-7702927c1da7.pptx
/src/Services/PersonalCenter/Uni.PersonalCenter/AppVideo/bb452d2f-4bc8-41bd-b474-e6da110bc5bf.pptx
/src/Services/PersonalCenter/Uni.PersonalCenter/appvideo/0a8491a3-741b-441d-ae60-3461dcdae85c.mp4
/src/Services/PersonalCenter/Uni.PersonalCenter/appvideo/d9e16c4f-cba3-4937-ba44-3276149d8de4.mp4
/src/Services/PersonalCenter/Uni.PersonalCenter/appvideo/2db722f6-e9d6-49b2-9ef6-12c870ca3f84.mp4
/src/Services/PersonalCenter/Uni.PersonalCenter/appvideo/00263f51-bfc2-4d67-b3a2-e594a453dbec.mp4
/src/Services/PersonalCenter/Uni.PersonalCenter/appvideo/43831337-449f-4c94-b5cb-d2f255c2bf86.mp4
/src/Services/PersonalCenter/Uni.PersonalCenter/appvideo/6f6ab3cc-06e2-45b9-a0ec-e130e65ea642.mp4
/src/Services/PersonalCenter/Uni.PersonalCenter/appvideo/fc50a348-93f0-4a03-9ff5-309811158ec0.mp4
/src/Services/PersonalCenter/Uni.PersonalCenter/appvideo/*.mp4
/src/Services/PersonalCenter/Uni.PersonalCenter/Properties/PublishProfiles/FolderProfile.pubxml
/src/Services/AppMarket/Uni.AppMarket/.config/dotnet-tools.json
/src/Services/PersonalCenter/Uni.PersonalCenter/.config/dotnet-tools.json
/src/Services/Forum/Uni.Forum.Service/attachment
/src/Services/Forum/Uni.Forum.Service/data/4d327c7f-1878-43ec-a7f3-985a46c6b82b/attachment
/src/Services/Forum/Uni.Forum.Service/data/
/src/Applications/Community/Uni.Community.App/lucene/

/src/Applications/Community/Uni.Community.Service/lucene/
*.Cache
